parameters:
    level: max
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - linting
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
